.top-page-header {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: green;
  align-items: center;
}

.logo {
  font-size: 40px;
  padding-left: 40px;
  color: white;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists {
  display: flex;
  list-style: none;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: white;
  margin-right: 3vw;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
  margin-right: 5vw;
}