<%= render "shared/header" %>
<div class='main'>
  <div class='post-bar'>
    <%= link_to '投稿する', new_post_path %>
  </div>
  <div class='item-bar'></div>
  <div class='room-bar'></div>
</div>
<%= render "shared/footer" %>