/* 画面上部の 投稿機能 帯部分 */

.post-bar {
  width: 100vw;
  height: 50vh;
  background-color: lightgray;
}

/* //画面上部の投稿機能 帯部分 */

/* 画面中央の 商品出品機能 帯部分 */

.item-bar {
  width: 100vw;
  height: 50vh;
  background-color: antiquewhite;
}
/* //画面中央の 商品出品機能 帯部分 */

/* 画面下部の ルーム機能 帯部分 */

.room-bar {
  width: 100vw;
  height: 50vh;
  background-color: skyblue;
}
/* //画面中央の ルーム機能 帯部分 */