.post-show-main {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.post-show-box {
  display: flex;
  margin: 20px 0;
}

.post-show-leftbox {
  background-color: white;
  box-shadow: 0px 10px 25px 0 rgba(0,0,0,0.5);
  width: 450px;
}

.post-show-rightbox {
  width: 600px;
  height: 300px;
  background-color: white;
  margin-left: 20px;
  height: 100%;
}

.post-show-user {
  padding: 10px;
  display: flex;
}

.post-more {
  height: 70px;
  display: flex;
}

.post-edit {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 10px 60px;
  margin: 15px;
}

